name: pep8-formatting
run-name: ${{ github.actor }} is setting up PEP8 formatting
on:
  push:
    branches:
      - main
jobs:
  code-style-formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install autopep8
      - name: Apply formatting
        run: |
          autopep8 --in-place --aggressive --aggressive PHN_Directed.py
      - name: Commit changes
        run: |
          git add PHN_Directed.py
          git commit -m 'Automated commit after PEP8 formatting'
          git push